.jobDetailsHeaderContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.jobDetailsHeaderLogoContainer{
    width: 20%;
    height: 100%;
}

.jobDetailsHeaderLogoContainer img{
    height: 100%;
    width: 100%;
}

.jobDetailsHeaderCompanyDetailsContainer{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 2rem;
}

