.jobDetailsHeaderLogoContainer{
    width: 20%;
    height: 100%;
}

.jobDetailsHeaderLogoContainer img{
    height: 100%;
    width: 100%;
}

.jobDetailsHeaderCompanyDetailsContainer{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0 2rem;
}

.jobDetailsHeaderCompanyDetailsContainer p{
    margin: 3px 0;
}

.jobDetailsHeaderCompanyText{
    color: #FFFFFF;
}

@media (max-width: 768px){
    .jobDetailsHeaderLogoContainer{
       position: absolute;
       height: 2rem;
       width: 2rem;
       top: -9%;
       border-radius: 29%;
       overflow: hidden;
    }

    .jobDetailsHeaderCompanyDetailsContainer{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .jobDetailsHeaderCompanyDetailsContainer>div{
        margin-bottom: 1rem;
    }

    .jobDetailsHeaderCompanyDetailsContainer>div>p{
        margin-top: 8px;
        text-align: center;
    }
}

