.customButton{
    background-color: #5865E0;
    color: #FFFFFF;
    text-transform: none;
    width: 30%;
    height: 2.5rem;
}

.applyButton .companySiteButton{
    width: 9rem;
}

.companySiteButton{
    color: #5865E0;
    background-color: #FFFFFF;
}

.loadMoreButton{
    width: 3rem;
    width: 8rem;
    margin-bottom: 2rem;
    align-self: center;
}

.companySiteButton .applyButton{
    width: 5rem;
}
