.jobDetailsContainer{
    margin: 0 13rem;
    height: auto;
    padding: 2rem;
    margin-bottom: 2rem;
}

.applyContainer{
    height: auto;
    background-color: #5865E0;
    color: #FFFFFF;
}

.applyContainer a{
    color: #FFFFFF;
}

.jobDetailsHeader{
    padding: 0;
    margin-top: 5rem;
}