.cardsContainer{
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    justify-content: space-between;
}

.dummyCardContainer{
    width: 32%;
}

@media (max-width: 768px){
    .cardsContainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .dummyCardContainer{
        display: none;
    }

}