.searchBarContainer{
    display: flex;
    background-color: #F5F6F8;
    margin: 5rem 0 3rem 0;
    z-index: 1;
}

.locationSearch{
    width: 25%;
    margin-right: 2px;
}

@media (max-width: 768px){
    .searchBarContainer{
        display: none;
    }
}


