.headerContainer{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    display: flex;
}

.circle{
    height: 7rem;
    width:13rem;
    border-bottom-left-radius: 56%;
    background-color: #5865E0;
}

.rectangle{
    height: 7rem;
    flex: 1;
    background-color: #5865E0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 13rem;
}

.headerTitle{
    color: white;
    font-weight: bold;
    font-size: 1.4rem;
    margin-bottom: 2rem;
}

.brightnessContainer{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}