.typeSearch{
    width: 30%;
    margin-right: 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.jobTypeContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.fullTimeText{
    font-weight: 500;
}

.fullTimeTextDarkTheme{
    color: white;
}